body{
  margin: 0;
  padding: 0;
}
.container{
  width: 1200px;
  margin: 0 auto;
}

.main-nav{
  height: 120px;
  box-shadow: -6px 12px 11px -11px rgba(0,0,0,1);
}

.top-line{
  position: fixed;
  background-color: red;
}

.main-content{
  margin: 30px 40px 0 40px;
}

.main-content{
  border-top: 1px solid black;
}

h1{
  font-style: italic;
  padding-top: 30px;
}

.article-body{
  padding-right: 450px;
  padding-left: 60px;
}

.image-text{
  padding-bottom: 30px;
}
